<div class="home">
  <div class="content">
    <div class="profile">
      <h3 class="nickname"> <%= theme.nickname %> in <a style="text-decoration:none" href="<%= theme.links['book'] %>"> <span style="color:red">here</span></a>
      </h3>

    </div>
    <hr/>
  </div>
</div>
